<dialog #dialog class="ui-modal" (close)="onDialogClose()" (mousedown)="onBackdropClick($event)">
  <div class="ui-modal__container" (mousedown)="$event.stopPropagation()">
    <header class="ui-modal__header">
      <div class="ui-modal__title">
        <ng-content select="[modal-title]"> {{ title() }} </ng-content>
      </div>
      <button type="button" class="ui-modal__close-btn" (click)="isOpen.set(false)" aria-label="Закрыть модальное окно">
        ✕
      </button>
    </header>

    <div class="ui-modal__body">
      <ng-content></ng-content>
    </div>

    <footer class="ui-modal__footer">
      <ng-content select="[modal-actions]"></ng-content>
    </footer>
  </div>
</dialog>
