:host {
    display: block;

    --max-width: 1440px;
}

.manage-course-container {
    max-width: var(--max-width);
    margin: 0 auto;
}

.divider {
    border: 0;
    border-top: 1px solid var(--border-color);
}
