<nav class="breadcrumbs" aria-label="Хлебные крошки">
  <ol class="breadcrumbs__list" itemscope itemtype="https://schema.org/BreadcrumbList">
    @for (item of items(); track item.url; let isLast = $last) {
    <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem" class="breadcrumbs__item">
      @if (!isLast) {
      <app-link [routerLink]="item.url" itemprop="item" class="breadcrumbs__link">
        <span itemprop="name">{{ item.label }}</span>
      </app-link>

      <span class="breadcrumbs__separator" aria-hidden="true">/</span>
      } @else {
      <span aria-current="page" itemprop="name" class="breadcrumbs__current"> {{ item.label }} </span>
      }

      <meta itemprop="position" [content]="$index + 1" />
    </li>
    }
  </ol>
</nav>
