:host {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--radius-sm);
    font-weight: var(--font-weight-medium);
    line-height: var(--line-height-none);
    white-space: nowrap;

    /* --- Размеры --- */
    &.badge--sm {
        padding: var(--unit-1) var(--unit-2);
        font-size: var(--font-size-xs);
    }

    &.badge--md {
        padding: var(--unit-2) var(--unit-3);
        font-size: var(--font-size-sm);
    }

    &.badge--lg {
        padding: var(--unit-2) var(--unit-4);
        font-size: var(--font-size-base);
    }

    /* --- Варианты расцветок --- */
    &.badge--primary {
        background-color: var(--bg-surface-active);
        color: var(--text-color);
    }

    &.badge--info {
        background-color: var(--color-info-bg);
        color: var(--color-info);
    }

    &.badge--success {
        background-color: var(--color-success-bg);
        color: var(--color-success);
    }

    &.badge--warning {
        background-color: var(--color-warning-bg);
        color: var(--color-warning);
    }

    &.badge--error {
        background-color: var(--color-error-bg);
        color: var(--color-error);
    }

    &.badge--outline {
        background-color: transparent;
        border: 1px solid var(--border-color);
        color: var(--text-color);
    }
}
